html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
button {
  border: none;
  outline: none;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.load {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url('../img/load_bg.png') 0 0;
}
.load .load-monk {
  width: 34.53125%;
  height: 1%;
  position: absolute;
  left: 32.734375%;
  top: 51.05634%;
}
.load .load-monk .moko {
  width: 100%;
  height: 2130.90845%;
  position: absolute;
  background: url('../img/load_mok1.png') no-repeat 0 0;
  background-size: contain;
  left: 0;
  bottom: 100%;
  animation: loadmonky 1s infinite linear;
}
.load .load-monk .mokt {
  width: 100%;
  height: 2253.52113%;
  position: absolute;
  left: 0;
  bottom: 100%;
}
.load .load-monk .mokh {
  width: 100%;
  height: 2147.88733%;
  position: absolute;
  left: 0;
  bottom: 100%;
}
.load .load-monk .shd1 {
  width: 32.57919%;
  height: 52.8169%;
  position: absolute;
  left: 26.7104%;
  top: 40%;
}
.load .load-monk .shd2 {
  width: 45.24887%;
  height: 70.42254%;
  position: absolute;
  left: 20.37557%;
  top: 40%;
}
.load .pro {
  width: 70.9375%;
  height: 2.46479%;
  position: absolute;
  left: 14.53125%;
  top: 52.05634%;
  border-radius: 1.2324vh;
  background: #4b2837;
  overflow: hidden;
}
.load .pro .gress {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0%;
  background: #ffe307;
  border-radius: 1.2324vh;
}
.load .plan {
  color: #FFE307;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 54.52%;
  text-align: center;
}
.load .loading {
  width: 21.71875%;
  height: 1.93662%;
  position: absolute;
  left: 39.140625%;
  top: 57.97817%;
}
.load .loading img {
  width: 100%;
  height: 100%;
  display: block;
}
@keyframes loadmonky {
  0% {
    height: 2130.90845%;
    background: url('../img/load_mok1.png') no-repeat 0 0;
    background-size: contain;
  }
  33% {
    height: 2253.52113%;
    background: url('../img/load_mok2.png') no-repeat 0 0;
    background-size: contain;
  }
  64% {
    height: 2147.88733%;
    background: url('../img/load_mok3.png') no-repeat 0 0;
    background-size: contain;
  }
}
.start {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/page2_bg.png) 0 0;
}
.start .light {
  width: 100%;
  height: 30.577%;
  position: absolute;
  left: 0;
  top: 0;
}
.start .bg {
  width: 100%;
  height: 97.6%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.start .bg img {
  width: 100%;
  height: 100%;
  display: block;
}
.start .cloud {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.start .cloud img:first-child {
  width: 23.28125%;
  height: 13.7324%;
  position: absolute;
  left: 0;
  bottom: 10%;
}
.start .cloud img:nth-child(2) {
  width: 36.40625%;
  height: 11.44366%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.start .cloud img:nth-child(3) {
  width: 28.125%;
  height: 19.19014%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.start .cloud img:last-child {
  width: 42.34375%;
  height: 3.4331%;
  position: absolute;
  left: 21.25%;
  bottom: 0;
}
.start .page2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.start .page2 .dati {
  width: 54.84375%;
  height: 15.757%;
  position: absolute;
  left: 36.40625%;
  bottom: 14.52465%;
}
.start .page2 .dati img {
  width: 100%;
  height: 100%;
  display: block;
}
.start .page2 .start-title {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.start .page2 .start-title img:first-child {
  width: 32.8125%;
  height: 20.68662%;
  position: absolute;
  left: 12.1875%;
  top: 22.4472%;
}
.start .page2 .start-title img:nth-child(2) {
  width: 39.6875%;
  height: 21.831%;
  position: absolute;
  left: 44.6875%;
  top: 17.87%;
}
.start .page2 .start-title img:nth-child(3) {
  width: 93.75%;
  height: 28.17%;
  position: absolute;
  left: 1.5625%;
  top: 39.6%;
}
.start .page2 .start-monk {
  width: 50%;
  height: 28.3451%;
  position: absolute;
  left: 4.0625%;
  top: 57.7465%;
}
.start .page2 .start-monk img {
  width: 100%;
  height: 100%;
  display: block;
}
.start .page2 .start-btn {
  width: 100%;
  height: 17.02%;
  position: absolute;
  left: 0;
  bottom: 0.0465%;
}
.start .page2 .start-btn img {
  width: 100%;
  height: 100%;
  display: block;
}
.start .page3 {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.start .page3 .page3-tilte {
  width: 84.21875%;
  height: 54.51923%;
  position: absolute;
  left: 8.671875%;
  top: 27%;
}
.start .page3 .page3-tilte img {
  width: 100%;
  height: 100%;
  display: block;
}
.start .page3 .page3-btn {
  width: 20.9375%;
  height: 22.1875vw;
  position: absolute;
  left: 39.53125%;
  bottom: 4.4231%;
}
.start .page3 .page3-btn img {
  width: 100%;
  height: 100%;
  display: block;
}
.start .page4 {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.start .page4 .page4-title {
  width: 81.09375%;
  height: 42.98077%;
  position: absolute;
  left: 9.453125%;
  bottom: 31.73077%;
}
.start .page4 .page4-title img:first-child {
  width: 100%;
  height: 100%;
  display: block;
}
.start .page4 .page4-title span:nth-child(2) {
  position: absolute;
  left: 34%;
  top: 0;
  margin-top: -0.05vh;
  font-size: 3.84615vh;
  color: #ffe307;
}
.start .page4 .page4-title span:nth-child(3) {
  position: absolute;
  left: 76.2%;
  top: 0;
  margin-top: -0.05vh;
  font-size: 3.84615vh;
  color: #ffe307;
}
.start .page4 .page4-title img:last-child {
  width: 57.22544%;
  height: 11.4094%;
  position: absolute;
  left: 18.88247%;
  top: 36.46533%;
}
.start .page4 .page4-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.start .page4 .page4-bottom li img {
  width: 100%;
  height: 100%;
  display: block;
}
.start .page4 .page4-bottom .more {
  width: 42.5%;
  height: 15.77%;
  position: absolute;
  left: 6.25%;
  bottom: 0;
}
.start .page4 .page4-bottom .share {
  width: 42.34375%;
  height: 28.5577%;
  position: absolute;
  left: 25%;
  bottom: 0;
}
.start .page4 .page4-bottom .lucky {
  width: 42.34375%;
  height: 17.8846%;
  position: absolute;
  right: 6.25%;
  bottom: 0;
}
.end {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/page2_bg.png) 0 0;
}
.end .light {
  width: 100%;
  height: 30.577%;
  position: absolute;
  left: 0;
  top: 0;
}
.end .bg {
  width: 100%;
  height: 97.6%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.end .bg img {
  width: 100%;
  height: 100%;
  display: block;
}
.end .cloud {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.end .cloud img:first-child {
  width: 36.40625%;
  height: 11.44366%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.end .cloud img:last-child {
  width: 28.125%;
  height: 19.19014%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.end .lose {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.end .lose .lose-title {
  width: 70%;
  height: 38.94231%;
  position: absolute;
  left: 15%;
  bottom: 29.423%;
}
.end .lose .lose-title img:first-child {
  width: 100%;
  height: 100%;
  display: block;
}
.end .lose .lose-title span:nth-child(2) {
  position: absolute;
  left: 32%;
  top: 0;
  margin-top: -0.05vh;
  font-size: 3.84615vh;
  color: #ffe307;
}
.end .lose .lose-title span:nth-child(3) {
  position: absolute;
  left: 81.2%;
  top: 0;
  margin-top: -0.05vh;
  font-size: 3.84615vh;
  color: #ffe307;
}
.end .lose .lose-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.end .lose .lose-bottom li img {
  width: 100%;
  height: 100%;
  display: block;
}
.end .lose .lose-bottom .more {
  width: 42.5%;
  height: 15.77%;
  position: absolute;
  left: 6.25%;
  bottom: 0;
}
.end .lose .lose-bottom .share {
  width: 42.34375%;
  height: 17.8846%;
  position: absolute;
  right: 6.25%;
  bottom: 0;
}
.end .write {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.end .write .luckys {
  width: 62.5%;
  height: 41.34616%;
  position: absolute;
  left: 18.75%;
  top: 26.731%;
  background: #ffffff;
  box-sizing: border-box;
  border: 0.78125vw #f5db00 solid;
  border-radius: 1.5625vw;
  box-shadow: 1.875vw 1.875vw 0 #000;
}
.end .write .luckys > img:first-child {
  width: 70.75%;
  height: 9.07%;
  position: absolute;
  left: 14.625%;
  top: 13%;
}
.end .write .luckys > img:nth-child(2) {
  width: 90.25%;
  height: 52.791%;
  position: absolute;
  left: 4.875%;
  top: 28.14%;
}
.end .write .luckys > img:nth-child(3) {
  width: 87%;
  height: 6.744%;
  position: absolute;
  left: 6.5%;
  bottom: 8.6%;
}
.end .write .luckys button {
  width: 38.25%;
  height: 8.6%;
  position: absolute;
}
.end .write .luckys button > img {
  width: 100%;
  height: 100%;
  display: block;
}
.end .write .luckys .lucky_btn1 {
  left: 48%;
  top: 61.4%;
}
.end .write .luckys .lucky_btn2 {
  left: 51.25%;
  top: 61.163%;
}
.end .write .page4-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.end .write .page4-bottom li img {
  width: 100%;
  height: 100%;
  display: block;
}
.end .write .page4-bottom .more {
  width: 42.5%;
  height: 15.77%;
  position: absolute;
  left: 6.25%;
  bottom: 0;
}
.end .write .page4-bottom .share {
  width: 42.34375%;
  height: 28.5577%;
  position: absolute;
  left: 25%;
  bottom: 0;
}
.end .write .page4-bottom .lucky {
  width: 42.34375%;
  height: 17.8846%;
  position: absolute;
  right: 6.25%;
  bottom: 0;
}
.asks {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../img/load_bg.png') 0 0;
}
.asks .question {
  width: 92.8125%;
  height: 14.78873%;
  position: absolute;
  left: 3.59375%;
  top: 9.155%;
}
.asks .question img {
  width: 100%;
  height: 100%;
  display: block;
}
.asks .question .num {
  width: 19.52862%;
  height: 0;
  position: absolute;
  left: 0;
  top: 57.738%;
  text-align: center;
}
.asks .question .ask {
  width: 67.34%;
  height: 59.5238%;
  position: absolute;
  right: 11.44%;
  top: 13.095%;
  text-align: center;
}
.asks .logo {
  width: 56.5625%;
  height: 21.831%;
  position: absolute;
  left: 21.71875%;
  top: 23.68%;
}
.asks .logo img {
  width: 100%;
  height: 100%;
  display: block;
}
.asks .answer {
  width: 90.46875%;
  height: 43.662%;
  position: absolute;
  left: 4.765625%;
  top: 46.92%;
}
.asks .answer li {
  width: 100%;
  height: 25%;
  margin-bottom: 2.621%;
  position: relative;
}
.asks .answer li img {
  width: 100%;
  height: 100%;
  display: block;
}
.asks .answer li p {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.asks .answer li span {
  display: none;
  width: 10.5354%;
  height: 50%;
  position: absolute;
  right: 5.18135%;
  top: 25%;
}
.asks .answer li span img {
  width: 100%;
  height: 100%;
  display: block;
}
/*# sourceMappingURL=index.css.map */
